body {
  background-color: rgb(100, 100, 100);
}
*:focus {
  outline: 0;
}
.wrapper {
  color: white;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  position: relative;
  padding: 5% 10%;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.wrapper h1 {
  font-family: Audiowide, cursive, serif;
}
#search-bar {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  text-align:center;
  margin-bottom: 30px;
}
#urlList {
  position: relative;
  text-decoration: none;
  height: 200px;
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top: 10px;
  overflow:auto;
}
#urlList li {
  list-style: none;
  margin: 5px;
}
#urlList li a,
.description {
  color: rgba(255, 255, 255, 0.7); 
}
.search {
  overflow: hidden;
}
.url-result {
  font-size: 12px;
  width: 50%;
}
.results {
  float: right;
}
.border {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: -60px;
  float: right;
  width: 52%;
}
