/*
body {
  background-color: rgb(100, 100, 100);
}
.wrapper {
  color: white;
  font-family: Audiowide, cursive, serif;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  position: relative;
  padding: 10%;
}
.search {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#search-bar {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  text-align:center;
  margin-bottom: 30px;
}
#file {
  position: relative;
}
.search {
  overflow: hidden;
}
.url-result {
  font-size: 10px;
  width: 50%;
}
.results {
  float: right;
}
