
body {
  background-color: rgb(100, 100, 100);
}
.wrapper {
  color: white;
  font-family: Audiowide, cursive, serif;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  position: relative;
  padding: 5% 10%;
}
/*
.search {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

#search-bar {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  text-align:center;
  margin-bottom: 30px;
}
#file {
  position: relative;
  text-decoration: none;
  height: 200px;
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-top: 10px;
  overflow:auto;
}
#file li {
  list-style: none;
  margin: 5px;
}
#file li a {
  color: rgba(255, 255, 255, 0.7); 
}
.search {
  overflow: hidden;
}
.url-result {
  font-size: 12px;
  width: 50%;
}
.results {
  float: right;
}
